.popup-coockies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);
  @include sb-flex;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 150%;
  background-color: rgb(247, 199, 199);

  button {
    padding: 4px 24px;
    border-radius: 8px;
    background: #f9f9f9;
  }

  a {
    text-decoration: underline;
  }
}
